{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VacantHouse Locator</title>
  <link rel="stylesheet" href=" {% static 'finder/style.css' %} " />
</head>
<body>
  <header>
    <h1>VacantHouse Locator</h1>
  </header>
  <main>
    <section class="hero">
      <h2>Find or List Vacant Houses with Ease</h2>
      <div class="cta-buttons">
        <a href="finder.html" class="btn">Find a House</a>
        <a href="manager_login.html" class="btn">Manager Login</a>
        <br>
        <br>
        {% for vacant in vacants %}
         <h2> {{ vacant.house_title }} </h2>
         <p> {{ vacant.content }} </p>
         <p>Ksh {{ vacant.rent_fee }} of Rent</p>
         <p> Created time: {{ vacant.created_at }} </p>
         <hr>
        {% endfor %}
      </div>
    </section>   
  </main>
</body>
</html>
