{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manager Login</title>
  <link rel="stylesheet" href="{% static 'finder/login.css' %}" />
</head>
<body>
  <div class="login_container">
    <h2>Manager Login</h2>
    <form id="loginForm">
      <label for="username">Username</label>
      <input type="text"  id="username" required>
      <label for="password">Password</label>
      <input type="password" id="password" required >
      <button type="submit" >Login</button>
      <div class="register_link">
        <a href="#" id="forgot_password" >Forgot Password?</a>
        <br><br>
        New Property manager? <a href="{% url 'signup' %}">Register</a>
      </div>
    </form>
  </div>
  <div class="modal" id="resetModal" >  
    <div class="modal_content" >
     <span class="close" id="closeModal" >&times;</span>
     <h3>Reset Password</h3>
     <form action="">
      <label for="reset_username">Enter username</label>
      <input type="text" id="reset_username" required >
      <button type="submit" >Send Reset Link to my email</button>
     </form>
    </div>
  </div>
  <script>
    document.getElementById("forgot_password").addEventListener("click",(e)=>{
      e.preventDefault();
      document.getElementById("resetModal").style.display = "flex";
    });

    document.getElementById("closeModal").addEventListener("click",()=>{
       document.getElementById("resetModal").style.display = "none";
    });


    document.getElementById('loginForm').addEventListener('submit', function(e) {
      e.preventDefault();
      window.location.href = 'manager_dashboard.html'; // Simulate login
    });

    window.addEventListener("click",(event)=>{
      const modal = document.getElementById("resetModal");
      if ( event.target == modal ){
        modal.style.display = "none";
      }
    });

  </script>
</body>
</html>
