<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manager Dashboard</title>
  <link rel="stylesheet" href="css/manager_dashboard.css" />
</head>
<body>               
  <header>
    <h1 id="manager_name_display" >Manager Dashboard</h1>
    <div class="Property_name_top">
      <select name="" id="properties_selection">
        <option value="tareq_ville">TareeqVille Apartments</option>
        <option value="micasa">Micasa Flats</option>
        <option value="sixers">Sixers Suites</option>
      </select>
    </div>
    <div class="menu_class" >Menu</div>
  </header>
  <main>
    <section class="dashboard_section">
    <div class="dashboard_section_div" id="total_house_doors"><span class="dashboard_section_referee" > Total Plot Doors </span> 
     <div class = "dashboard_section_content" id="total_house_doors_section_content" >289 Doors</div>
    </div>
    <div class="dashboard_section_div" id="available_vacants"> <span class="dashboard_section_referee" >Availlable Vacants </span>
    <div class = "dashboard_section_content" id="available_vacants_section_content" >91 <br> Doors Are Available</div>
    </div>
    <div  class="dashboard_section_div" id="occupied_doors"> <span class="dashboard_section_referee" > Occupied Doors </span>
    <div class = "dashboard_section_content" id="occupied_doors_section_content" >198 Doors are occupied</div>
    </div>
    <div class="dashboard_section_div" id="total_plot_tenants"> <span class="dashboard_section_referee" > Total Plot Tenants </span> 
    <div class = "dashboard_section_content" id="total_plot_tenants_section" > <span> 498 </span>  tenants</div>
    </div>
    </section>
    
    

  </main>
  <script src="js/main.js"></script>
</body>
</html>
